.flexcontact {
  margin-inline: auto;
  height: 90vh;
  width: 85%;
align-items: center;
  display: flex;
  justify-content: space-between;
}
.textinfo{
  text-align: center;
}
.partinfo {
  margin-left: 0;
  margin-block: auto;
  width: 40%;
  padding-block: 40px;
  flex-direction: column;
  text-align: center;
}
.title {
  font-size: 25px;
  font-weight: 500;
  color: rgb(37, 175, 240);
}
.sub-title {
  font-size: 13px;
  color: gray;
}
.socialicon {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.spancontact {
  gap: 2rem;
  margin-block: 20px;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.partemail {
  width: 50%;
  margin-block: auto;
}
.formemail {
  width: 100%;
  flex-direction: column;
  margin-top: 20px;

}

.formplace {
  border: 1px solid #25262d;
  text-decoration: none;
  padding: 7px;
  padding-block: 10px;
  border-radius: 11px;
  width: 90%;
margin-top: 6px;
  background: #18191e;
}
.formplace:focus {
  border: 1px solid #2d2e37;
  text-decoration: none;
  padding: 7px;
  padding-block: 10px;
  border-radius: 11px;
  width: 90%;
margin-top: 6px;
  background: #2c2e38;
}
.formplace2 {
  border: 1px solid #25262d;
  height: 100px;
  text-decoration: none;
  padding: 7px;
  padding-block: 10px;
  border-radius: 11px;
  width: 90%;
  
margin-top: 6px;
  background: #18191e;
}
.submit{
  margin-top: 20px;
  color: white;
  border: 1px solid rgb(37, 175, 240);
height: 40px;
  border-radius: 10px;
  width: 90%; 
  background:  rgb(34, 164, 225);
}

@media (max-width: 1000px) {
  .flexcontact {
    margin-inline: auto;
    width: 95%;
  flex-direction: column;
    
  } 
  .partinfo {
   
    margin-inline: auto;
    width: 90%;
    
  }
  .partemail {
    margin-inline: auto;
    width: 90%;
    
  }
}
