.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding-block: 1rem; */
  /* min-height: 100vh; */
}

.center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  margin: auto;
  margin-bottom: 10px;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 440px;
  height: 280px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}
.pargres {
  display: none;
}
.titleres {
  display: none;
}
.welcomeres {
  display: none;
}

.logo {
  width: 410px;
  height: 400px;
}
.welcome {
  width: 40%;
}
.title {
  font-size: 50px;
  font-weight: 600;
  margin-block: 1rem;
}
.parg {
  font-size: 20px;
  color: #9d9c9c;
  width: 80%;
}

@media (max-width: 1000px) {
  .title {
    font-size: 20px;
   
  font-weight: 300;
  }
  .logo {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 800px) {
  /* .welcome{display: none;} */
  .welcome {
    width: 80%;
    margin-inline: auto;
  }
  .title {
    font-size: 25px;
    margin-block: 0;
    margin-bottom: 12px;
  }
  .parg {
    font-size: 17px;
    margin-bottom: 12px;
    width: 100%;
  }
  .center {
    flex-direction: column;
    padding: 3rem 0;
  }
  .logo {
    width: 80%;
    height: 250px;
    
  }
  header button.menu {
    display: block;
  }
}
