.allprojectdetails{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
   
}
.card{

    padding: 10px;
   width: 30%;
   border-bottom: 1px solid rgb(49, 46, 46);
    gap: 2rem;
    text-align: center;
    margin: 5px;
}
.imageproject{
    width: 250px;
    height: 150px;
    border-radius: 10px;
}
.subtitle{
    margin-block: 1rem;
    color: gray;
}
.viewandshare{
    margin-inline: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    
    font-size: 19px;
}
.viewproject{
    color: rgb(44, 44, 248);
}
.share{
    gap: 0.6rem;
    font-size: 15px;
 align-items: center;
    display: flex;
    color: rgb(40, 208, 40);
}

@media (max-width: 1000px) {
    .card{
       width: 40%;
    
    }
    .title{
        font-size: 19px;
    }
  }
  @media (max-width: 780px) {
    .card{
       width: 100%;
    
    }
    .viewandshare{
        margin-inline: auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .imageproject{
        width: 240px;
        height: 150px;
        border-radius: 10px;
    }
    .title{
        font-size: 15px;
    }
  }
  