.testimonials-slider {
  max-width: 500px;
  margin: 0 auto;
}
.testimonial {
  border-radius: 50px;
  background: #181818;
  column-gap: 1rem;
  text-align: center;
  padding: 30px;
  background-clip: initial;
}
.imageandtitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.testimonial-image {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}
.namecommint {
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 10px;
}
.commint {
  font-size: 13px;
  color: #555;
}

@media (max-width: 900px) {
  .testimonials-slider {
    max-width: 400px;
    margin: 0;
  }
}
